<html>
	<form action="/account/new" method="post">
		<div>
			<h1>회원가입</h1>
		</div>
		<div>
			아이디 <input type="text" name="user_id" /><br>
			비밀번호 <input type="text" name="user_pw" /><br>
			닉네임 <input type="text" name="nickname" /><br>
			<br>
			<input type="submit" value="가입하기" />
		</div>
	</form>
</html>