<html>
	<form action="post/new" method="post">
		<div>
			제목<br>
			<input type="text" name="title" />
		</div>
		<div>
			내용<br>
			<textarea name="body"></textarea>
		</div>
		<div>
			<input type="submit" value="글쓰기" />
		</div>
	</form>
</html>